@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Open+Sans:wght@300;500&display=swap');

body {
  /* background-color: rgba(220, 217, 217, 0.411); */
  /* background-image: url("/background.jpg"); */
  background-color: rgba(14, 17, 22);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

#quote{
  font-family: 'Inter';
  font-weight: 1000;
  color: #ffffff;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 5vh;
  text-align: center;
}

.bookFinder {
  display: grid;
}

.bookSearch {
  margin-top: 40px;
  width: 75vw;
  height: 50px;
  border-radius: 2px;
  padding: 1vh;
  border-color: #ffffff;
  background-color: rgb(38, 42, 47);
  transition: 0.5s;
}

#bookSearch:focus{
  margin-top: 40px;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  border-width: 1px;
  outline: none !important;
  grid-column: 1;
  transition: 0.5s;
}

#input_button{
  display: grid;
  align-items: center;
  justify-content: center;

}

#collectionButton{
  grid-column: 2;
  margin-top: 40px;
  margin-left: 10px;
  border-width: 1px;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
  border-color: rgba(97, 103, 217);
  color: rgba(97, 103, 217);
  transition: 0.5s;
}

#collectionButton:hover{
  margin-top: 40px;
  margin-left: 10px;
  border-width: 1px;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

#collection{
  background-color:  rgba(14, 17, 22);
  display: flex;
  flex-direction: column;
  position: fixed;
  left:0;
  height:100vh;
  width:25vw;
  overflow-y: overlay;
  color:white;
  transition: ease-in 0.5s;
  border-right-width: 2px;
}

#collectionHidden{
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.347);
  display: flex;
  flex-direction: column;
  position: fixed;
  left:0;
  height:100vh;
  width:25vw;
  transform: translate(-100%,0%);
  overflow-y: overlay;
  color:white;
  transition-duration: 0.5s;
}

#collectionBook{
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* gap: 1vw; */
  padding-bottom: 1vh;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  margin-bottom: 1vh;
}

#collectionImage{
  height:8vh;
  width:3vw;
  margin-left: 1vw;
}

#collectionMetadata{

}

#bookContainer {
  background-color: rgb(38, 42, 47);
  width: 75vw;
  height: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: overlay;
  margin-bottom: 2vh;
  border-radius: 1vh;
}

.book{
  flex-basis: 20%;
  margin-top: 20px;
  margin-left: 115px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: #3e5c74;
  
}

.bookcover{
  border-width:1px;
  margin-top: 60px;
  height: 40vh;
  width: 500px;
  border-radius: 20px;
}

.bookcover:hover{
  margin-top: 60px;
  height: 40vh;
  width: 500px;
  cursor: pointer;
}

.booktitle{
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

.bookauthor{
  color: grey;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.booktitle:hover{
  font-family: 'Open Sans', sans-serif;
  color: #743e3e;
  cursor: pointer;
}

.bookauthor:hover{
  color: grey;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  cursor: pointer;
}