@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Open+Sans:wght@300;500&display=swap');

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#quote{
  font-family: 'Kite One';
  color: #ffffff;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 65px;
  text-align: center;
}

.bookFinder {
  display: grid;
}

.bookSearch {
  margin-top: 40px;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  padding: 1vh;
  border-width: 1px;
  border-color: #ffffff;
  background-color: white;
}

#input_button{
  display: grid;
  align-items: center;
  justify-content: center;
  border-width: 2px;

}

#collectionButton{
  grid-column: 2;
  margin-top: 40px;
  margin-left: 10px;
  border-width: 1px;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
  border-color: #ffffff;
  color: #ffffff;
  transition: 0.5s;
}

#collectionButton:hover{
  margin-top: 40px;
  margin-left: 10px;
  border-width: 1px;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
  border-color: black;
  background-color: #ffffff;
  color: black;
  transition: 0.5s;
}

#collection{
  border-width: 2px;
  background-color: white;
  padding-bottom: 20px;
  position: absolute;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
}

#collectionImage{
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 100px;
}

#bookSearch:focus{
  margin-top: 40px;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  border-width: 1px;
  outline: none !important;
  grid-column: 1;
}

#bookContainer {
  background-color: white;
  width: 75vw;
  height: 500px;
  margin-top: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  margin-bottom: 2vh;
  transition: ease-in 500ms;
}

.book{
  flex-basis: 20%;
  margin-top: 20px;
  margin-left: 115px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: #3e5c74;
  
}

.bookcover{
  border-width:1px;
  margin-top: 60px;
  height: 300px;
  width: 500px;
}

.booktitle{
  font-family: 'Open Sans', sans-serif;
  color: #3e5c74;
}

.bookauthor{
  color: grey;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.bookcover:hover{
  margin-top: 60px;
  height: 300px;
  width: 500px;
  cursor: pointer;
}

.booktitle:hover{
  font-family: 'Open Sans', sans-serif;
  color: #743e3e;
  cursor: pointer;
}

.bookauthor:hover{
  color: grey;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  cursor: pointer;
}