@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family:"Inter";
  background-color: rgba(14, 17, 22);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

#quote{
  font-weight: 1000;
  color: #ffffff;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 5vh;
  text-align: center;
}

.bookFinder {
  display: grid;
}

.bookSearch {
  margin-top: 40px;
  width: 75vw;
  height: 50px;
  border-radius: 2px;
  padding: 1vh;
  border-color: #ffffff;
  background-color: rgb(38, 42, 47);
  transition: 0.5s;
}

#bookSearch:focus{
  margin-top: 40px;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  border-width: 1px;
  outline: none !important;
  grid-column: 1;
  transition: 0.5s;
}

#input_button{
  display: grid;
  align-items: center;
  justify-content: center;

}

#collectionButton{
  grid-column: 2;
  margin-top: 40px;
  margin-left: 10px;
  border-width: 1px;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
  border-color: rgba(97, 103, 217);
  color: rgba(97, 103, 217);
  transition: 0.5s;
}

#collectionButton:hover{
  margin-top: 40px;
  margin-left: 10px;
  border-width: 1px;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

#collection{
  background-color: rgba(14, 17, 22, 0.635);
  display: flex;
  flex-direction: column;
  position: fixed;
  left:0;
  height:100vh;
  width:30vw;
  overflow-y: overlay;
  color:white;
  transition: ease-in 0.5s;
}

#collectionHidden{
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.347);
  display: flex;
  flex-direction: column;
  position: fixed;
  left:0;
  height:100vh;
  width:25vw;
  transform: translate(-100%,0%);
  overflow-y: overlay;
  color:white;
  transition-duration: 0.5s;
}

#collectionBook{
  background: rgb(39,42,46);
  border-radius: 2vh;
  display: flex;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
  gap: 1.3vh;
  transition: 0.5s;
  overflow-x: hidden;
  border-width: .1px;
  border-color: rgba(255, 255, 255, 0.103);
  width: 25vw;
}

#omm{
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
}

#omm:hover #collectionBook{
  background: rgb(39,42,46);
  border-radius: 2vh;
  display: flex;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
  margin-right: 1vw;
  gap: 1.3vh;
  transition: 0.5s;
  overflow-x: hidden;
}

.deleteButton{
  outline: none;
  height:10vh;
  width:0px;
  background-color: rgba(255, 0, 0, 0.603);
  transition: 0.5s;
  overflow-x: hidden;
  border-radius: 2vh;
}

.instance:hover .rating{
  opacity: 5;
  transition: 0.5s;
  transform: translateY(20%);
  z-index: 1;
  height:30px
}

.rating{
  margin-left: 2vw;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-100%);
  z-index: 1;
  height:0px
}

#omm{
  display: flex;
  align-items: center;
  justify-items: center;
  z-index: 2;
}

#omm:hover .deleteButton{
  height:10vh;
  width:10vw;
  transition: 0.5s;
  margin-right: .5vw;
}



#collectionImage{
  height:8vh;
  width:3vw;
  margin-left: 1vw;
}

#bookContainer {
  background-color: rgb(38, 42, 47);
  width: 75vw;
  height: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: overlay;
  border-radius: 1vh;
}

.book{
  flex-basis: 20%;
  margin-top: 20px;
  margin-left: 8vw;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: #3e5c74;
  
}

.bookcover{
  border-width:1px;
  margin-top: 60px;
  height: 40vh;
  width: 500px;
  border-radius: 20px;
}

.bookcover:hover{
  margin-top: 60px;
  height: 40vh;
  width: 500px;
  cursor: pointer;
}

.booktitle{
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

.bookauthor{
  color: grey;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.booktitle:hover{
  font-family: 'Open Sans', sans-serif;
  color: #743e3e;
  cursor: pointer;
}

.bookauthor:hover{
  color: grey;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  cursor: pointer;
}