@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* Home page css stuff */
.hpBody{
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hpHeader{
  color: white;
  margin-top: 50px;
  font-size: 50px;
  border-width: 2px;
  text-align: center;
}

.hpDescription{
  color: white;
  border-width: 2px;
  text-align: center;
}


body {
    height: 100%;
    margin: 0;
    /* background: linear-gradient(#e4d7d7, #ffffff); */
    background-color: black;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
}

.descriptionContainer{
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 500px;
  text-align: center;
}

.descriptionHeader{
  font-weight: 100;
  padding-bottom: 10px;
}

.description{
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  margin-bottom: 10px;
}

.link{
  color: rgba(126, 120, 244, 0.726);
  transition-duration: 500ms;
}

.link:hover{
  color: rgb(255,255,255);
  transition-duration: 500ms;
  background-color: rgb(126, 120, 244, 0.726);
}

table{
  border: 1px solid black;
  font-size: medium;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 200px;
  font-weight: 100;
}

tbody,tr, td{
  border: 1px solid black;
  font-size: medium;
  padding-left: 10px;
  padding-right: 10px;
}