@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  margin: 0;
  background-color: black;
}

/* Home page css stuff */
.hpBody{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  justify-content: left;
}

.hpHeader{
  color: white;
  font-size: 50px;
  margin-left: 100px;
  margin-bottom: 25px;
}

.descDiv{
  display: flex;
  color: white;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 215px;
  padding-right: 25px;
}

.projectList{
  margin-left: 20px;
}

.project{
  background-color: white;
  color:black;
  font-size: 15px;
  border-radius: 8px;
  height:100px;
  width:500px;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  
}
