@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  margin: 0;
  background-color: black;
}

/* Home page css stuff */
.hpBody{
  font-family: 'Inter';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  justify-content: left;
}

.hpHeader{
  color: white;
  font-weight: 800;
  font-size: 50px;
  margin-left: 100px;
  margin-bottom: 25px;
}

.descDiv{
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: 100;
  margin-left: 100px;
  margin-right: 215px;
  padding-right: 25px;
}

.projectList{
  margin-left: 20px;
}

.project{
  background-color:rgba(75, 73, 73, 0.422);
  transition-duration: 500ms;
  color:white;
  font-size: 15px;
  border-radius: 8px;
  height:100px;
  width:500px;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;

}
.project:hover{
  background-color:rgba(75, 73, 73, 0.921);
  transition-duration: 500ms;
  color:white;
  font-size: 15px;
  border-radius: 8px;
  height:100px;
  width:500px;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;

}

